.container{
    height: 28.9%;
    border: solid 1px;
    margin-right: 2.5rem;
    border: solid 1px yellow;
    background-color: black;
}

p{
   color: yellow;
    margin-left: 1rem;
}

.filtereye{
    color: white;
    background-color: red;
    margin-right: 2.5rem;
}

.filtergender{
    color: white;
    background-color: blue;  
    margin-right: 2.5rem;
}
