<div class="overlay" *ngIf="!load">
   
    <div class="loader">
       
      </div>
     
</div>

<div *ngIf="load">
<div class="container">
    <p><strong> Name </strong> :  <span>  {{ Character.name }} </span> </p> 
    <p [ngClass]="{'filtereye':filtercolor === Character.eye_color }"><strong> Eye_color </strong> :  <span >  {{ Character.eye_color }} </span> </p> 
    <p [ngClass]="{'filtergender':filtergender === Character.gender }"><strong> Gender </strong> :  <span >  {{ Character.gender }} </span> </p> 
    <p><strong>Films: </strong></p>
    <ul *ngFor="let film of Character.films">
        <app-film [film]="film" [filterfilname]="filterfilm">

        </app-film>
    </ul>
    <br>
</div>
<br>
</div>