
input {
    margin-left: 2.5rem;
    display: inline;
    width: 28.9%;
    border: solid 1px;

    @media (max-width: 500px) {
      margin-left: 2.5rem;
      width: 40%;
      margin-top: 1rem;
      display: inline-block;
    }

    @media (max-width: 710px) {
      margin-left: 2.9rem;
      width: 40%;
      margin-top: 1rem;
    }

    @media (max-width: 920px) {
      margin-left: 2.9rem;
      width: 40%;
      margin-top: 1rem;
    }
}

h1{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: yellow;
}

.back{
  float: right;
  margin-right: 2.5rem;
}

.error {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.custom-pagination ::ng-deep .ngx-pagination .current{
  background:black;
  color: yellow;
}

.custom-pagination ::ng-deep .ngx-pagination .disabled{
  background:black;
  color: yellow;
}