<h1> Characters </h1>
<div >
    <input placeholder="search by color eye." type="text" 
    [(ngModel)]="eyecolor" (keyup.enter)="filterforeyes(charactersurl)"
    >
    
</div>

<div *ngIf="filter.length>0">
<ul *ngFor="let item of (filter|paginate:{itemsPerPage: 10, currentPage: page}) ">
    <app-character  [item]="item" >

    </app-character>
  </ul>
</div>

<div *ngIf="filter.length==0">
  <div *ngIf="(eyecolor=='' && gender=='' && film=='') else error">
    <ul *ngFor="let item of (charactersurl|paginate:{itemsPerPage: 10, currentPage: page})">
        <app-character  [item]="item">
    
        </app-character>
      </ul>
   </div>

   <ng-template #error>
     <h1  class="error">Information with filters does not exist</h1>
   </ng-template>
</div>

<pagination-controls 
                      (pageChange)="page=$event"
                      previousLabel="Previous"
                      nextLabel="Next"
                      class="custom-pagination"
                     >
</pagination-controls>

<button (click)="Back()" class="back">
  Back
</button>