input {
    display: inline;
    width: 99.5%;
    border: solid 1px yellow ;
    color: yellow;
    background-color: black;
}
   
h1{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: yellow;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bold;
}

.back{
  float: right;
  margin-right: 2.5rem;
  background-color: black;
  color: yellow;
  border: solid 1px yellow;
}

.error {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.custom-pagination ::ng-deep .ngx-pagination .current{
  background:black;
  color: yellow;
}

.custom-pagination ::ng-deep .ngx-pagination .disabled{
  background:black;
  color: yellow;
}

.container{
  height: 28.9%;
  border: solid 1px;
  margin-right: 2.5rem;
  margin-left: 2.5rem;
  background-color: black;
}